/* Resume Preview */

.resume-wrapper {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  padding: 4rem 1rem;
}

.resume-preview {
  width: 100%;
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 2rem;
  transition: box-shadow 0.3s ease;
}

.resume-preview-link:hover .resume-preview {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  cursor: zoom-in;
}

.resume-download-btn {
  font-weight: 700;
  background-color: #949366;
  color: #FBFAF0;
  border: 1px solid #949366;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  margin-top: 2rem;
  cursor: pointer;
  letter-spacing: 0.8px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.resume-download-btn:hover {
  background-color: #FBFAF0;
  color: #949366;
}

@media (max-width: 576px) {
  .resume-preview {
    height: 350px;
  }
}